<div class="barra-superior">
  <a routerLink="/add-product">
    <button class="btn btn-add">➕ Agregar nuevo producto</button>
  </a>
</div>

<div class="contenedor-productos">
  @for (producto of listaDeProductos; track producto.id) {
    <div class="card-producto">
      <app-product [producto]="producto"></app-product>

      <div class="acciones">
        <a [routerLink]="'/edit-product/' + producto.id">
          <button class="btn btn-edit">✏️ Editar</button>
        </a>

        <button class="btn btn-delete" (click)="eliminarProducto(producto.id)">🗑️ Eliminar</button>
      </div>
    </div>
  } @empty {
    <p>No existen productos</p>
  }
</div>
