<nav class="topnav">
  <a [routerLink]="['/home']" [routerLinkActive]="['active']"> Home </a>
  <a [routerLink]="['/store']" [routerLinkActive]="['active']"> Store </a>
  <a [routerLink]="['/contact']" [routerLinkActive]="['active']"> Contact </a>
  <a [routerLink]="['/aboutus']" [routerLinkActive]="['active']"> About Us </a>
  <a [routerLink]="['/users']" [routerLinkActive]="['active']"> Usuarios </a>
  <a [routerLink]="['/signup']" routerLinkActive="active">Sign Up</a>
  <a [routerLink]="['/user-info']" routerLinkActive="active">User Info</a>
</nav>

<router-outlet />

