<div class="form-nuevos-datos">
  <label for="nombre">Nombre de Usuario:</label>
  <input type="text" id="nombre" [(ngModel)]="nombreUsuario" />

  <label for="correo">Correo Electrónico:</label>
  <input type="email" id="correo" [(ngModel)]="correo" />

  <label for="contrasena">Contraseña:</label>
  <input type="password" id="contrasena" [(ngModel)]="contrasena" />

  <button (click)="actualizarDatosUsuario(1, nombreUsuario, correo, contrasena)">
    Actualizar Datos
  </button>
</div>

<div class="btn-eliminar-usuario">
    <button (click)="eliminarUsuario(1)">Eliminar Usuario</button>
</div>
