<div class="form-container">
  <h2>Agregar Producto</h2>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Título:</label>
      <input id="title" type="text" formControlName="title">
    </div>

    <div class="form-group">
      <label for="price">Precio:</label>
      <input id="price" type="number" formControlName="price">
    </div>

    <div class="form-group">
      <label for="description">Descripción:</label>
      <textarea id="description" rows="3" formControlName="description"></textarea>
    </div>

    <div class="form-group">
      <label for="category">Categoría:</label>
      <input id="category" type="text" formControlName="category">
    </div>

    <div class="form-group">
    <label for="image">URL de Imagen:</label>
    <input id="image" type="text" formControlName="image" (input)="onImageUrlChange()" placeholder="Pega un link de imagen" />
    <div>o</div>
    <input type="file" accept="image/*" (change)="onImageFileChange($event)" />
    <div *ngIf="imagePreview">
      <img [src]="imagePreview" alt="Vista previa" style="max-width: 200px; margin-top: 10px;" />
    </div>
  </div>

    <button type="submit" [disabled]="productForm.invalid">➕ Guardar</button>
  </form>
</div>
